<!DOCTYPE html>
<html>
<head>
	<title>News App</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
  <script type="text/handlebars" src="/js/handlebars_helpers_if_eq.js"></script>
</head>
<body>
  {{!-- navigation --}}
  {{> page/nav}}
  {{!-- navigation --}}
  <div class="container-fluid">
    <div class="row content">
      {{!-- category news --}}
      {{> page/category}}
      {{!-- body of articles --}}
      <div class="col-sm-8">
        <div class="index_pad">
          {{#if success_msg}}
            <div class = "alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class = "alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class = "alert alert-danger">{{error}}</div>
          {{/if}}
        </div>
        {{> page/newstitle}}
        {{{body}}}
      </div>
      {{!-- ads --}}
        {{> page/rightbarnav}}
    </div> <!-- /row -->
    <footer class="footer">
      <p>&copy; 2017 A2Znewstoday</p>
    </footer>
  </div> <!-- /container -->
      <!-- jQuery -->
  <script src="/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.js"></script>

</body>
</html>


