  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">A2ZNewsToday</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class={{#customif expected="posts" val=page}}"active"{{/customif}}>
                      <a href="/"> News Dashboard</a>
                  </li>      
                  <li class={{#customif expected="top" val=page}}"active"{{/customif}}>
                      <a href="/posts/top">Top News</a>
                  </li>
                  <li class={{#customif expected="latest" val=page}}"active"{{/customif}}>
                      <a href="/posts/latest">Latest News</a>
                  </li>
                  <li class={{#customif expected="trending" val=page}}"active"{{/customif}}>
                      <a href="/posts/trending">Trending News</a>
                  </li>
                  <li class="dropdown {{#customif expected="country" val=page}}active{{/customif}}">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">World News <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li class={{#customif expected="/posts/country/in" val=route}}"active"{{/customif}}>
                              <a href="/posts/country/in">India-in </a>
                          </li>
                          <li class={{#customif expected="/posts/country/us" val=route}}"active"{{/customif}}>
                              <a href="/posts/country/us">USA-us </a>
                          </li>
                          <li class={{#customif expected="/posts/country/gb" val=route}}"active"{{/customif}}>
                              <a href="/posts/country/gb">United Kingdom-gb </a>
                          </li>
                          <li class={{#customif expected="/posts/country/au" val=route}}"active"{{/customif}}>
                              <a href="/posts/country/au">Australia-au </a>
                          </li>
                          <li class={{#customif expected="/posts/country/it" val=route}}"active"{{/customif}}>
                              <a href="/posts/country/it">Italy-it </a>
                          </li>
                      </ul>
                  </li>
                  <li class={{#customif expected="subscribe" val=page}}"active"{{/customif}}>
                      <a href="/subscribe">Subscribe</a>
                  </li>
                  <li class={{#customif expected="contact" val=page}}"active"{{/customif}}>
                      <a href="/contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>