
        <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">
              {{#upperPost}}
              {{route}}
              {{/upperPost}} News @ A2ZNewsToday.com
                  <small>subscribe at <a href="http://localhost:8081/subscribe">a2znewstoday.com</a></small>
              </h1>
          </div>
        </div>